@{
    ViewBag.Title = "Products List";
}

<div class="row">
    <div class="col-md-6" style="border-right: 1px dashed #333;">
        <h2>Top Trending</h2>

        <form action="~/Home/Index/">
            <label for="products">Choose a product</label>

            <select name="products" id="products">
                <option value="tshirt">T-Shirt</option>
                <option value="shoes">Shoes</option>
                <option value="jeans">Jeans</option>
                <option value="jackets">Jackets</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        <br />
        <br />

        <ol>
            @foreach (var product in ViewBag.Products)
            {
                <li>
                    <div>
                        <p>@product.websiteTraffic</p>
                        <p>@product.internalRank</p>
                        <p>@product.website</p>
                        <img src=@product.imageLink>
                    </div>
                </li>
            }
        </ol>

        <br />
    </div>

    <div class="col-md-6">
        <h2>Top Upcoming</h2>
    </div>
</div>
